nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056A1 ;
  color: white;
  padding-right: 1.5em;
  padding-left: 1.5em;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.title-right{
  font-size: 20px;
  display:flex;
  flex-direction: column;
  font-family: 'Source Sans Pro';
}

.title{
  font-size: 40px;
}

.fa-angle-double-down{
  display: flex;
  justify-content: center;
}


span{
  font-family: 'Bungee';
  font-size: 20px;
}