.submit-button{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#tweet-text{
  width: 100%;
  background-color:#f4f1ec;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  height: 40px
}

button[type=submit]{
  font-size: 30px;
  font: 'Bungee';
  font-weight: 200;
  background-color: #4056a1;
  color: white;

}

.counter{
  font-size: 30px;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.error{
  color: red;
  border: solid 5px red;
}
